

page:
    left / center / right:
        page_number: int

      header: "<diocese / year>"
      entries:
        - parish: "<name>"
          dedication: "<dedication>"
          deanery: "<name>"
          material: "<stone / wood / ...>"
          page_number: <int>
        - ...
      footer: "<notes>"